body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
#child {
    display:flex;
    justify-content:center;
    align-itmes:center;
    font-size:70px;
    line-height: 200px;
}
