body {
  background-color: #8ED6FF;
  font-size: 100px;
  padding: 0px;
}

main{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@font-face{
  font-family: 'Cunia';
  src: url('https://github.com/loveyourherpes/loveyourherpessite/blob/master/Cunia.ttf?raw=true');
}
#logo{
  text-shadow:
     -1px -1px 0 #FFF,
     0   -1px 0 #FFF,
     1px -1px 0 #FFF,
     1px  0   0 #FFF,
     1px  1px 0 #FFF,
     0    1px 0 #FFF,
    -1px  1px 0 #FFF,
    -1px  0   0 #FFF;
  font-family: 'Cunia';
  color: #ffc1c8;
  width: 50%;
  padding: 0px;
  overflow: auto;
  text-align:center;
}
