body {
  background-color: powderblue;
  font-size: 100px;
  padding: 0px;
}

main{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}
#logo{
  font-family: 'Cunia';
  color: pink;
  width: 50%;
  padding: 0px;
  resize: both;
  overflow: auto;
  text-align:center;
}
